name: Release RubyGem

on:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3.10"
          bundler-cache: true

      - uses: rubygems/release-gem@v1
